[submodule "Front"]
	path = Front
	url = https://github.com/thomas-jacque-schultz/Front
[submodule "Docker"]
	path = Docker
	url = https://github.com/thomas-jacque-schultz/Docker
[submodule "Back"]
	path = Back
	url = https://github.com/thomas-jacque-schultz/Back
